.form-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #647685;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: calc(90% - 0.5rem);
      margin-left: 0.5rem;
      height: 4rem;
      margin-top: 1rem;
      border-radius: 0.5rem;
      background-color: #857c64;
      font-size: 1.7rem;
      font-style: italic;
      color: white;
      transition: all 1s;
    }

    button:hover {
      background-color: #696350;
    }
  }
}


.inputGroup {
  display: flex;
  width: 90%;

  input {
    font-size: 1.5rem;
    font-style: italic;
    width: 50%;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0.05rem solid #857c64bb;
    outline: none;
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
  }

  input::placeholder {
    text-align: center;
    color: #857c648a;
    font-weight: 400;
  }
}

.singleInput {
  input {
    width: 100%;
  }
}
