.photo-side {
  grid-column-start: 2;
  background-color: #f5efea;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  
  p {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .photo-input-form {
    width: 80%;
    height: 80%;
    border: 0.05rem dashed #8d856d;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    i {
      font-size: 10rem;
      color: #8d856d;
    }
  }
}

#start {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}


input[type="file"] {
  display: none;
}

.btn {
  display: inline-block;
  margin: 1rem auto;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
  width: 15rem;
  color: #fff;
  box-sizing: border-box;
  background: #8d856d;
  border-color: black;
  cursor: pointer;
}

